@import "bootstrap/_bootstrap";

:root {
  --themePrimary: #DFBA2D;
  --themeSecondary: #7E90A6;
  --themeTertiary: #193266;
  --themeContrast: #DF612D;
}

body {
  background: var(--themeTertiary);
  color: var(--themePrimary);
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Permanent Marker', cursive;
}

button[type="submit"] {
  background: var(--themeContrast);
  color: #fff;
}

.reading-list {
  list-style: none;
  padding-left: 0;

  li {
    span {
      display: block;

      &.author {
        font-style: italic;
        font-size: 0.8em;
      }
    }
  }
}
